*{
	box-sizing: border-box;
	padding: 0!important;
}
body{
	background-color: white;
	height: 100vh;
	width: 100vw;
}
.expCont{
	height: 100%;
	background-color: blue;
}
.expCont .d-flex{
	height: 50%;
}
.expCont .text{
	height: 50%;
	background-color: black;
}